* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top{
  max-width: 100%;
  height: 40px;
}

.top img{
  width: 60px;
  cursor: pointer;
}

.base{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.calculator {
  display: none;
  width: 300px;
  background: #333;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 10px;
}

.icon {
  font-size: 20px;
}

.header h1 {
  font-size: 18px;
  margin: 0;
}

.controls button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.display {
  background: #222;
  padding: 15px;
  text-align: right;
  height: 75px;
}

.small-display {
  font-size: 17px;
  color: #888;

}

.large-display {
  font-size: 28px;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
}

.button {
  background: #555;
  border: none;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.button:hover, .button:focus {
  background: #777;
}

.equals {
  background-color: darkcyan;
}

.equals:hover {
  background-color: cyan;
}
.equalsc {
  background-color: cyan;
}

.btn-operation {
  background-color: rgb(126, 126, 126);
}

.btn-operation:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 100);
}
.button.active {
  background: rgb(100, 100, 100);
}
